.datepicker {
  z-index: 2000 !important;
}

.calc-btn {
  width:100%;
  margin:0;
  padding:0;
  height:60px;
}

.calc-col {
  margin:0;
  padding:0;
  width:60px;
}

.calc-col.col-sm-6 {
  margin:0;
  padding:0;
  width:120px;
}

.calc-head {
  margin:0;
  padding:0;
  width:240px;
  height:60px;
}
